extends layout
block title
  title= 'Todo Tasks'

block content
  h1 Todo List
  p You have
    strong= todos.length
    | Todo Items!
  p
    a(href="/todo/new") Create a ToDo
  ul#todos
    each todo in todos
      li
        strong=todo.name
        | ||
        a(href="/todo/#{todo.id}") View Details
        | ||
        a(href="/todo/edit/#{todo.id}") Edit
        | ||
        a(href="/todo/delete/#{todo.id}") Delete
