extends layout

block title
  title='todo.name'

block content
  h1= todo.name
  p= todo.description
  p
    time(date="#{todo.created_on.toDateString()}") Created: #{todo.created_on.toDateString()}
  p
    time(date="#{todo.updated_on.toDateString()}") Last Updated: #{todo.updated_on.toDateString()}
  p
    a(href="/") Back to List
